.artistas{
    margin: 0;
    padding: 0;

}

.lienzo{
    display: flex;
    flex-wrap: wrap;
    min-height: 93vh;
    height: 100%;
    background: #000000e5;
}

.tarjeta{
    margin-top: 10px;
    margin-left: 10px;
}

.tarjeta :hover {
    background-color: rgb(115, 113, 119);
    color:aliceblue;
}

.nombre{
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: #c1b6bc;
}


@media (max-width: 500px) and (min-width: 280px) {
        .tarjeta{
            width: 100%;
            padding: 10%;
        }
    }
