.artistas{
    margin: 0;
    padding: 0;

}

.lienzo{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    min-height: 93vh;
    height: 100%;
    background: #000000e5;
    justify-content: center;
    align-items: center;
}

.tarjeta{
    margin-top: 5px;
    margin-left: 10px;
    width: 300px;
    justify-content: center;
    align-items: center;
}


.tarjeta1{
    margin-top: 5px;
    margin-left: 10px;
    width: 300px;
    justify-content: center;

}

.tarjeta1 :hover {
    background-color: rgb(115, 113, 119);
    color:aliceblue;
}

.tarjeta :hover {
    background-color: rgb(115, 113, 119);
    color:aliceblue;
}

.nombre{
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: #c1b6bc;
}


@media (max-width: 500px) and (min-width: 280px) {
        .tarjeta{
            width: 100%;
            padding: 10%;
        }
    }
