
.formulario , .nombreAlbum{
    margin-bottom: 5%;
  }
  .formulario , .button{
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .formulario , .imagen{
    margin-top: 5%;
    margin-bottom: 5%;
  }
