.album {

    margin: 0;
    padding: 0;
}

.lienzoAlbum {
    display: flex;
    flex-wrap: wrap;
    min-height: 80vh;
    height: 100%;
    background: #000000f3;
}

.lienzoAlbum1 {
    padding: 5px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    height: 30vh;

    width: 80%;
    justify-content: center;
    align-items: center;

    background: #000000f3;
}


.lienzoAlbum1 .centrar {

    display: flex;
    flex-direction: wrap;
    margin: 0 auto;
    width: 20%;
    min-height: 90vh;
}

.lienzoAlbum .centrar {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    min-height: 80vh;
}

.lienzoAlbum .titleAlbum {
    color: #fff;
    background-color: black;


}

.profileRight {
    background-color: #000;

}

.profileCover {
    height: 250px;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.profileCover::after {
    filter: blur(50px);
}

.profileCoverImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-self: center;
}

.profileUserImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    border: 3px solid white;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.profileInfoName {
    font-size: 24px;
}

.profileInfoDesc {
    font-weight: 300;
}

.centrar {
    justify-content: center;

}